@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --main-blue: #4758e4;
  --dark-blue: #1b2259;
  --background-grey: #dadcea;
  --body: #637088;
  /* Forms */
  --placeholder: #b6b6b6;
  --input-border: #c3cad5;
  /* Buttons */
  --positive: #29cb97;
  --delete: #d43024;
  --cancel: #9fa7e8;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 1.8;
  color: var(--body);
  margin: 0;
}

body.login {
  background: var(--main-blue);
  color: #fff;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

header {
  background: var(--main-blue);
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-header,
.logo-login {
  text-transform: lowercase;
  letter-spacing: -0.1em;
}
.logo-login {
  font-size: 5em;
}

nav a {
  color: #fff;
}

/* form {
  display: flex;
  flex-direction: column;
} */

::placeholder {
  color: var(--placeholder);
}

input,
select,
input[type="submit"],
button {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  padding: 0.8em;
  margin-bottom: 1em;
}

input,
select {
  border: 2px solid var(--input-border);
  border-radius: 5px;
}

input[type="submit"],
button {
  background: var(--dark-blue);
  color: #fff;
  border: none;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border-radius: 50px;
}
