@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --main-blue: #4758e4;
  --dark-blue: #1b2259;
  --background-grey: #dadcea;
  --body-grey: #637088;
  /* Forms */
  --placeholder-grey: #b6b6b6;
  --input-border: #c3cad5;
  /* Buttons */
  --positive: #29cb97;
  --delete: #d43024;
  --cancel: #9fa7e8;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header {
  background: var(--main-blue);
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo-header {
  letter-spacing: -3px;
}
nav a {
  color: #fff;
}
